In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('Modules.csv')

In [22]:
def FuelCalc(Mod):
    return int(Mod/3)-2

In [23]:
df['Fuel']= df.Mods.apply(FuelCalc)

In [24]:
df.head()

     Mods   Fuel
0   71764  23919
1   58877  19623
2  107994  35996
3   72251  24081
4   74966  24986

In [25]:
df.Fuel.sum()

3299598